.btn {
    background: linear-gradient(0, $color-primary, $color-secondary);
    box-shadow: 10px 5px 5px $color-shadow;
    border-radius: 25px;
    padding: 16px;
    cursor: pointer;
    height: 25px;
    width: min-content;
    &:hover {
        background: linear-gradient(0, lighten($color-primary, 3%), lighten($color-secondary, 2%));
        box-shadow: 10px 5px 5px darken($color-shadow, 20%);
    }
}
