* {
    text-decoration: none;
    font-size: 20px;
    // font-family: 'Roboto', sans-serif;
    // color: $color-text;
}

// .recherche{
//     &__texte {
//         font-size: 18px;
//     }
//     .fa-search {
//         font-size: 32px;
//     }
// }

// .filtres {
//     &__select {
//         .selected {
//             color: $color-light;
//             font-size: 14px;
//             font-weight: 700;
//             .fa-times-circle {
//                 color: $color-light;
//                 font-size: 20px;
//             }
//         }
//     }
//     .choix {
//         font-size: 18px;
//         font-weight: 700;
//     }
// }

// .recette {
//     .titre {
//         font-size: 18px;
//     }
//     .duree {
//         font-size: 18px;
//         font-weight: 700;
//         .fa-clock {
//             font-size: 20px;
//         }
//     }
//     .ingredients {
//         font-size: 12px;
//     }
//     .description {
//         font-size: 12px;
//     }
// }

#timer {
    font-weight: bold;
    font-size: 30px;
  }
